body,
html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
    font-family: 'Muli', sans-serif;

}

::-webkit-scrollbar {
    display: none;
    visibility: hidden;
}

* {
    outline: none;
}

@media (min-width : 320px) {

    /*---MAIN PAGE---*/

    .main_image_logo {
        position: absolute;
        left: -130px;
        top: 25px;
        height: 400px;

    }

    .title_blurb_wrap {
        position: absolute;
        width: 100%;
        height: 95px;
        bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

    }

    .main_title {
        position: relative;
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 4px;
    }

    .green_text {
        color: #5BA33D;
        font-weight: 500;
    }

    .stealth_blurb {
        position: relative;
        font-size: 13px;
        font-weight: 300;
        text-align: center;
    }

    .button_wrap {
        position: absolute;
        width: 100%;
        bottom: 45px;
        display: flex;

    }

    #get_started_button {
        position: relative;
        height: 45px;
        width: 160px;
        border-radius: 100px;
        font-size: 15px;
        font-weight: 500;
        margin: auto;
        border: none;
        color: #5BA33D;
        background-color: #f1f1f1;
        transition: 0.2s;


        /*---//  MAIN PAGE---*/
    }

#get_started_button:active {
    opacity: 0.5;
}